[Unit]
Description=Farmer (Slack bot) server daemon
Documentation=https://github.com/cellgeni/farmer
After=default.target
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=farmer-server
Type=simple
Restart=always
RestartSec=5
SyslogIdentifier=farmer-server

[Install]
WantedBy=default.target
